JAXB/schema2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
 
 <xs:element name="map">
  <xs:complexType>
    <xs:sequence>
       <xs:element name="entry" type="entryType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
 </xs:element>
  
  <xs:complexType name="entryType">
    <xs:sequence>
    	 <xs:element name="key" minOccurs="0" type="xs:string"/>
         <xs:element name="value" minOccurs="0" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>

